<style>
  @media screen and (min-width: 0) {
    section[data-section="Icons"] {
      --example-icon-width: 200px;
      --example-icon-height: 200px;
      --box-icon-height: 220px;
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #e5e5e5;
    }

    section[data-section="Icons"] .path {
      padding-left: 15px;
      font-size: 1.125rem;
    }

    section[data-section="Icons"] .path code {
      color: rgb(9, 65, 207);
    }

    .icons {
      display: grid;
      grid-gap: 20px;
      padding: 0 15px;
      grid-template-columns: repeat(auto-fill, minmax(var(--example-icon-width), 1fr));
    }

    .icons li {
      display: flex;
      width: var(--example-icon-width);
      height: var(--box-icon-height);
      padding: 0 0 14px 0;
      flex-direction: column;
      border: 1px solid #e5e5e5;
      justify-content: space-between;
    }

    .icons .icon-wrapper {
      width: var(--example-icon-width);
      height: var(--example-icon-height);
      position: relative;
    }

    .icons .fill {
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      position: absolute;
    }

    .icons .bg-lighter {
      background-color: white;
    }

    .icons .bg-darker {
      background-color: #7e7e7e;
    }

    .icons .identifier {
      text-align: center;
    }

    .icons .identifier code {
      font-size: 12px;
    }
  }
</style>

{{#each ctx }}

  <section data-section="Icons">

    <ul class="icons">

      {{#each this}}
        <li class="example">
          <div class="icon-wrapper">
            <div class="icon fill">
              {{{svg.source}}}
            </div>
          </div>
          <p class="identifier"><code>{{value}}</code></p>
        </li>

      {{/each}}

    </ul>

  </section>

{{/each}}