<div
  {{#if variable}}
    class="blank-block blank-block-dark"
    style="border-radius: var({{variable}});"
  {{/if}}
  {{#if classname}}
    class="blank-block blank-block-dark {{classname}}"
  {{/if}}
></div>