<div 
  {{#if variable}}
    style="font-family: var({{variable}}); font-size: 50px; text-align: center;"
  {{/if}}
  {{#if classname}}
    class="{{classname}}"
    style="font-size: 50px; text-align: center;"
  {{/if}}
>
  Aa
</div>